{% extends 'base.html.twig' %}
{% block title %} Todo List {% endblock %}
{% block stylesheets %}
<style>
.bar-chart {
    background-color: #5eb0d6
}
.bar {
    fill:#a54fa8
}
#pie {
    margin-top:10px
}
.arc {font: 10px sans-serif;
  text-anchor: middle;}
</style>
{% endblock %}
{% block body %}
{% if (todos) %}
<table class="table table-striped">
    <thead>
    <tr>
    <th>Naziv zadatka</th>
    {# <th>Opis zadatka</th> #}
    <th>Rok izvršenja</th>
    <th>Težina</th>
    <th>Opcije</th>
    </tr>
    </thead>
    <tbody>
    {% for todo in todos %}
    <tr>
    <td/>{{todo.title}}</td>
    {# <td/>{{todo.description}}</td> #}
    <td/>{{todo.Duedate.format('d/m/Y')}}</td>
    <td/>{{todo.Difficulty}}</td>
    <td>
    <a href='/todo/{{todo.id}}' class="btn btn-primary">Detalji</a>
    <a href={{path('edit',{id:todo.id})}} class="btn btn-info">Uredi</a>
    <form method="post" action={{path('delete',{id:todo.id})}} style="display:inline-block"><input type="hidden" name="_method" value="DELETE"><button class="btn btn-danger">Izbriši</button></form>
    </td></tr>
    {% endfor %}
    </tbody>
</table>
<div class="row">
<div class="col-md-8 offset-md-2">
<svg></svg>
<div id="pie"></div>
<div id="pie2"></div>
</div>
</div>

{% else %}
<h3>No todos to show</h3>
<div class="row">
<div class="col-md-8 offset-md-2">
<svg></svg>
<div id="pie"></div>
<div id="pie2"></div>
</div>
</div>
{% endif %}
{% endblock %}
{% block javascripts %}
<script src="http://d3js.org/d3.v4.min.js"></script>
<script src="/index.js"></script>
{% endblock %}
